<!DOCTYPE html>
<html lang="en">
<head>
    <meta name= "author" content="github.com/IgorBigWeld">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 02</title>
</head>
<body>
    <!-- eu sou um comentário -->
     <marquee behavior="" direction="up" bgcolor="red">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, accusamus!</marquee>
     <marquee behavior="" direction="down" bgcolor="pink">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, accusamus!</marquee>
     <marquee behavior="" direction="left" bgcolor="green">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, accusamus!</marquee>
     <marquee behavior="" direction="right" bgcolor="blue">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, accusamus!</marquee>
</body>
</html>